<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{%static 'css/register.css' %}">
        <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{%static 'css/all.min.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="{%static 'js/all.min.js' %}"></script>
        <script src="{%static 'js/owl.carousel.min.js' %}"></script>

        
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="content-container">
            <div class="image-container">
                <img src="./static/images/Parking.png" alt="Hình ảnh">
            </div>
            <div class="overlay-text">
                <h1>BÃI ĐỖ XE THÔNG MINH</h1>
                <p>Cung cấp thông tin bãi đỗ theo thời gian thực, tìm kiếm dễ dàng, đặt chỗ nhanh chóng, thanh toán linh hoạt.</p>
            </div>
        </div>
    
        <!-- <div class="product-benefits"> 
            <h2>LỢI ÍCH SẢN PHẨM</h2>
            <div class="colored-line"></div>
            <img src="./webapp/img/Benefit.png" alt="Hình ảnh sản phẩm">
        </div> -->
        <div class="modal" id="registerModal">
            <div class="modal__overlay"></div>
            <div class="modal__body">
                    <!-- Form register -->
                <div class="auth-form">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Đăng ký</h3>
                        </div>
    
                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" placeholder="Tên Đăng Nhập" id="registerName">
                            </div>
    
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" placeholder="Mật khẩu">
                            </div>
    
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" placeholder="Nhập Lại Mật Khẩu">
                            </div>
                        </div>
    
                        <div class="auth-form__controls">
                            <button class="btn btn--normal auth-form__controls-back ">TRỞ LẠI</button>
                            <button class="btn--primary ">ĐĂNG KÝ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>