<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{%static 'css/manager.css' %}">
        <link rel="stylesheet" href="{%static 'css/addacc.css' %}">
        <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{%static 'css/all.min.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="{%static 'js/all.min.js' %}"></script>
        <script src="{%static 'js/owl.carousel.min.js' %}"></script>

        
        <title>Thêm tài khoản</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="header">
            <h1>HỆ THỐNG QUẢN LÝ BÃI ĐỖ XE</h1>
        </div>
        <div class="container">
            <div class="left-sidebar">
                <div class="container">
                    <div class="products">
                        <div class="product"><a href="#">Quản lý tài khoản</a></div>
                        <div class="product"><a href="#">Xem lịch sử gửi xe</a></div>
                        <div class="product"><a href="#">Đăng xuất</a></div>
                    </div>
                </div>
            </div>
            <div class="right-content">
                <!-- Create a flex container for the search box and button -->
                <div class="search-container">
                    <div class="search-box">
                        <input type="text" placeholder="Nhập biển số xe">
                        <button><i class="fas fa-search"></i></button>
                        <input type="text" placeholder="Nhập tên">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                    <!-- Add the "Thêm tài khoản" button here -->
                    <button class="add-account-button">Thêm tài khoản</button>
                </div>
                
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Họ và Tên</th>
                            <th>Biển số xe</th>
                            <th>Thời Gian Vào</th>
                            <th>Thời Gian Ra</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Nguyễn Phạm Nhật Vỹ</td>
                            <td>43H1-31166</td>
                            <td>08:00 AM</td>
                            <td>09:30 AM</td>
                            <td class="actions">
                                <button class="edit">Chỉnh sửa</button>
                            </td>
                            <td class="actions">
                                <button>Xóa</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
        <div class="modal">
            <div class="modal__overlay"></div>
            <div class="modal__body">
                   
    
                <!-- Form login -->
                <div class="auth-form">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">Thêm tài khoản</h3>
                        </div>
    
                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" placeholder="Họ và tên">
                            </div>
    
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" placeholder="Biển số xe">
                            </div>
                        </div>
    
                        <div class="auth-form__controls">
                            <button class="btn btn--normal auth-form__controls-back" id="backButton">TRỞ LẠI</button>
                            <button class="btn--primary ">THÊM</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>