<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{%static 'css/index_staff.css' %}">
        <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{%static 'css/all.min.css' %}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="{%static 'js/all.min.js' %}"></script>
        <script src="{%static 'js/owl.carousel.min.js' %}"></script>
        <script src="{%static 'js/history.js' %}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="header">
            <h1>HỆ THỐNG QUẢN LÝ BÃI ĐỖ XE</h1>
        </div>
        <div class="container">
            <div class="left-sidebar">
                <div class="products">
                    <div class="product"><a href="{% url 'index_staff' %}">Trang chủ</a></div>
                    <div class="product"><a href="{% url 'manager' %}">Quản lý tài khoản</a></div>
                    <div class="product"><a href="{% url 'history' %}">Xem lịch sử gửi xe</a></div>
                    <div class="product"><a href="{% url 'index' %}">Đăng xuất</a></div>
                </div>
            </div>
            <div class="right-content">
                <div class="content-container">
                    <div class="left-container">
                        <h5>camera</h5>
                        <div class="camera-container">
                            <div class="camera-left-container">
                                <img src="">
                        
                            </div>
                            <div class="camera-right-container">
                                <img src="">
                        
                            </div>
                        </div>
                        <h5>plate</h5>
                        <div class="plate-container">
                            <div class="plate-left-container">
                                <img src="">
                            </div>
                            <div class="plate-right-container">
                                <img src="">
                        
                            </div>
                        </div>
                        <h5>character</h5>
                        <div class="character-container">
                            <div class="character-left-container">
                                <img src="">
                        
                            </div>
                            <div class="character-right-container">
                                <img src="">
                        
                            </div>
                        </div>
                    </div>
                    <div class="right-container">
                        <h1>BÃI ĐỖ XE THÔNG MINH</h1>
                        <h4>IN</h4>
                        <h4>OUT</h4>
                        <h5>Plate Numbers</h5>
                        <div class="user-in-container">
                            <div class="user-in-left">
                                <img src="">
                        
                            </div>
                            <div class="user-in-right">
                                <img src="">
                        
                            </div>
                        </div>
                        <h5>User</h5>
                        <div class="user-out-container">
                            <div class="user-out-left">
                                <img src="">
                            </div>
                            <div class="user-out-right">
                                <img src="">
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>